<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=3Dutf-8" />
    <meta name="viewport" content="width=3Ddevice-width, initial-scale=3D1, minimum-scale=3D1, maximum-scale=3D1" />

    <title>Web email | Johnston Careers</title>


    <style type="text/css">
        @import url(http://fonts.googleapis.com/css?family=3DOpenSans);
        html {
            width: 100%;
        }
        
        body {
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust: none;
        }
        
        body {
            margin: 0;
            padding: 0;
        }
        
        table {
            border-spacing: 0;
        }
        
        img {
            display: block !important;
        }
        
        table td {
            border-collapse: collapse;
        }
        
        @media only screen and (max-width: 640px) {
            body {
                width: auto !important;
            }
            table[class="table1-main"] {
                padding: 0 20px;
            }
            table[class="table1-1"] {
                width: 100% !important;
            }
            table[class="table-inner"] {
                width: 100% !important;
            }
            /* Image */
            img[class="img1"] {
                width: 100% !important;
            }
        }
        
        @media only screen and (max-width: 360px) {
            body {
                width: auto !important;
            }
            table[class="table1-main"] {
                padding: 0 10px;
            }
            table[class="table-inner"] {
                width: 100% !important;
                padding: 10px !important;
            }
            td[class="footer-text"] {
                font-size: 12px !important;
            }
            td[class="table-side"] {
                width: 10px !important;
            }
            /* Image */
            img[class="logo"] {
                width: 77px !important;
                height: 36px;
            }
        }
    </style>
    <style type="text/css">

    </style>

</head>

<body gramm="gramm" gramm_id="6da136f8-8cb9-1c9d-602d-a9354d3b7fe7" lef=t margin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing:antialiased;width:100% !important;-webkit-text-size-adjust:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;"
    topmargin="0">

    <table border="0" cellpadding="0" cellspacing="0" class="table1-main" style="font-family: Arial, Helvetica, sans-serif;padding-left: 5px;table-layout:fixed" width="100%">


        <tbody>


            <tr>


                <td>
                    <span style="color:#222222; font-size:13px;">Hi <%= @target.firstname %>,</span>
                </td>

            </tr>


            <tr>


                <td>&nbsp;</td>

            </tr>


            <tr>


                <td>
                    <span style="color:#222222; font-size:13px;">I've selected a few opportunities you may want to explore. Apply directly if interested. If you&#39;ve
                        moved recently or would like to see different jobs
                        <a href="<%= @url %>">click here</a> and help me better serve you.</span>
                </td>

            </tr>


            <tr>


                <td>
                    <br />

                    <html>

                    <head>


                        <title></title>


                        <style type="text/css">
                            .gmailfix {
                                display: none;
                                display: none!important;
                            }
                        </style>

                    </head>

                    <body>

                        <div>

                            <table border="0" cellpadding="0" cellspacing="0" width="100%">


                                <tbody>


                                    <tr>


                                        <td>


                                            <div>
                                                <a href="<%= @url %>" style="color:blue; font-size:15px; text-decoration: none;" target="_blank">Claims Support Specialist Ii</a>
                                                <span style="font-size:11px !important; color:black; text-decoration:none; cursor: default !important;">glassdoor</s=p an>
                                                    <br />

                                                    <span style="color:#222222; font-size:13px; font-weight:bold;">Erie Insurance</span>
                                                <span style="color:#222222; font-size:13px;">Erie, PA
                                                    </span>
                                                <br /> &nbsp;

                                            </div>

                                        </td>

                                    </tr>

                                </tbody>

                            </table>



                            <table border="0" cellpadding="0" cellspacing="0" width="100%">


                                <tbody>


                                    <tr>


                                        <td>


                                            <div>
                                                <a href="<%= @url %>" target="_blank">Infrastructure Architect</a>
                                                <span style="font-size:11px !important; color:black; text-decoration:none; cursor: default !important;">dice</span>
                                                <br />

                                                <span style="color:#222222; font-size:13px; font-weight:bold;">Clayton Homes Inc</span>
                                                <span style="color:#222222; font-size:13px;">Maryville, TN</span>
                                                <br /> &nbsp;

                                            </div>

                                        </td>

                                    </tr>

                                </tbody>

                            </table>



                            <table border="0" cellpadding="0" cellspacing="0" width="100%">


                                <tbody>


                                    <tr>


                                        <td>


                                            <div>
                                                <a href="<%= @url %>" style="color:blue; font-size:15px; text-decoration: none;" target="_blank">Junior System Administrator</a>
                                                <span style="font-size:11px !important; color:black; text-decoration:none; cursor: default !important;">taleo</span>
                                                <br />

                                                <span style="color:#222222; font-size:13px; font-weight:bold;">PAS - Nashville</span>
                                                <span style="color:#222222; font-size:13px;">Nashville, TN</span>
                                                <br /> &nbsp;

                                            </div>

                                        </td>

                                    </tr>

                                </tbody>

                            </table>



                            <table border="0" cellpadding="0" cellspacing="0" width="100%">


                                <tbody>


                                    <tr>


                                        <td>


                                            <div>
                                                <a href="<%= @url %>" target="_blank">Transportation Business Strategy and Financing Professional</a>
                                                <span style="font-size:11px !important; color:black; text-decoration:none; cursor: default !important;">steerdaviesgleave</span>
                                                <br />

                                                <span style="color:#222222; font-size:13px; font-weight:bold;">Steer Davies Gleave</span>
                                                <span style="color:#222222; font-size:13px;">Boton, NY</span>
                                                <br /> &nbsp;

                                            </div>

                                        </td>

                                    </tr>

                                </tbody>

                            </table>



                            <table border="0" cellpadding="0" cellspacing="0" width="100%">


                                <tbody>


                                    <tr>


                                        <td>


                                            <div>
                                                <a href="<%= @url %>" style="color:blue; font-size:15px; text-decoration: none;" target="_blank">Technical Executive</a>
                                                <span style="font-size:11px !important; color:black; text-decoration:none; cursor: default !important;">tbe</span>
                                                <br />

                                                <span style="color:#222222; font-size:13px; font-weight:bold;">Electric Power Research Institute</span>
                                                <span style="color:#222222; font-size:13px;">Knoxville, TN</span>
                                                <br /> &nbsp;

                                            </div>

                                        </td>

                                    </tr>

                                </tbody>

                            </table>



                            <table border="0" cellpadding="0" cellspacing="0" width="100%">


                                <tbody>


                                    <tr>


                                        <td>


                                            <div>
                                                <a href="<%= @url %>" styl=e=3D "color:blue; font-size:15px; text-decoration: none;" target="_blank">Business Intelligence</a>
                                                <span style="font-size:11px !important; color:black; text-decoration:none; cursor: default !important;">google</span>
                                                <br /=>

                                                <span style="color:#222222; font-size:13px; font-weight:bold;">Robert Half Technology</span>
                                                <span style="color:#222222; font-size:13px;">Hendersonville, TN</span>
                                                <br /> &nbsp;

                                            </div>

                                        </td>

                                    </tr>

                                </tbody>

                            </table>



                            <table border="0" cellpadding="0" cellspacing="0" width="100%">


                                <tbody>


                                    <tr>


                                        <td>


                                            <div>
                                                <a href="<%= @url %>" style="color:blue; font-size:15px; text-decoration: none;" target="_blank">Patient Access Coordinator I (Surgical Scheduler) - Part Time - SV Vascular
                                                    &amp; Endovascular Surgery
                                                </a>
                                                <span style="font-size:11px !important; color:black; text-decoration:none; cursor: default !important;">jobvite</span>
                                                <br />

                                                <span style="color:#222222; font-size:13px; font-weight:bold;">Saint Vincent Hospital</span>
                                                <span style="color:#222222; font-size:13px;">Erie, PA</span>
                                                <br /> &nbsp;

                                            </div>

                                        </td>

                                    </tr>

                                </tbody>

                            </table>



                            <table border="0" cellpadding="0" cellspacing="0" width="100%">


                                <tbody>


                                    <tr>


                                        <td>


                                            <div>
                                                <a href="<%= @url %>" style="color:blue; font-size:15px; text-decoration: none;" target="_blank">Systems Administrator</a>
                                                <span style="font-size:11px !important; color:black; text-decoration:none; cursor: default !important;">monster</span>
                                                <br />

                                                <span style="color:#222222; font-size:13px; font-weight:bold;">Volunteer State Community College</span>
                                                <span style="color:#222222; font-size:13px;">Gallatin, TN</span>
                                                <br /> &nbsp;

                                            </div>

                                        </td>

                                    </tr>

                                </tbody>

                            </table>

                        </div>



                        <div class="gmailfix" style="white-space:nowrap; font:13px courier; line-height:0;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;= &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>

                    </body>

                    </html>

                </td>

            </tr>


            <tr>


                <td>&nbsp;</td>

            </tr>

        </tbody>

    </table>



    <p style="color:#222222; font-size:13px;">If these positions don&#39;t match your goals, please modify your Job Titles, Skills and Locations&nbsp;
        <a href="<%= @url %>">Here</a>.
    </p>



    <p style="color:#222222; font-size:13px;">Best Regards,</p>



    <p style="color: rgb(34, 34, 34); font-size: 13px;">
        <br /> Johnton Jobs
        <br /> 19373 Main St.
        <br /> Nashville, TN 30489</p>



    <div style="text-align:center">
        <a href="<%= @url %>" style="font-size: 10px; font-family: arial; color: #808080; text-decoration: underline">Not Interested Anymore? Unsubscribe Instantly</a>
    </div>



    <div>&nbsp;

        <div>&nbsp;

            <div>&nbsp;</div>

        </div>

    </div>


    <img src="" alt="" width="1" height="1" border="0" style="height:1px !important;width:1px !important;border-width:0 !important;margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;margin-left:0 !important;padding-top:0 !important;padding-bottom:0 !important;padding-right:0 !important;padding-left:0 !important;"
    />

</body>

</html>